.form-wrapper {
  height: 100%;
  width: 600px;
  max-width: 100%;
  form {
    display: flex;
    flex-flow: column;
    .mat-mdc-form-field {
      padding: 6px 0px;
    }
    .dialog-actions-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        background-color: var(--main-element);
        color: #fff;
        &:hover {
          background-color: #081226b0;
        }
        &:last-child {
          background-color: var(--watermelon);
          &:hover {
            background-color: var(--watermelon);
            color: #ffc2ca;
          }
        }
        width: 25%;
        &:disabled {
          background-color: #a39fa96d;
          color: #a39fa982;
        }
      }
    }
  }
}
